#tanggal-waktu{
    -fx-font-size: 15px;
}

#save-btn, #back-btn{
    -fx-font-size: 12px;
    -fx-background-color: #ffffff ;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

#tambahTgl-wkt{
    -fx-background-color: #b7dffd ;
}