/* stylesDaftarPengingat */

#delete-btn{
    -fx-background-color: white; 
    -fx-background-radius: 20
}

#box-daftar{
    -fx-background-color: white;
}

#label-title{
    -fx-font-size: 20px; 
    -fx-text-fill: black;
    
}

#rendah-label{
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #a5d6a7; 
    -fx-background-radius: 5;
}

#sedang-label{
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #ffe082; 
    -fx-background-radius: 5;
}

#tinggi-label{
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #ea8465; 
    -fx-background-radius: 5;
}

#no-tugas{
    -fx-font-family: 'Berlin Sans FB'; 
    -fx-font-size: 20px; 
    -fx-text-fiil: black;
}
#complete-btn{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20
}