/* stylesMyList */

#search-label{
    -fx-text-fill: black; 
    -fx-font-size: 20px; 
    -fx-font-weight: bold;
}

#scroll-pane{
    -fx-background: #CAF4FF;
}

#list-box{
    -fx-background: #CAF4FF;
}

#schedule-label{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fiil: black; 
    -fx-background-color: #90CAF9; 
    -fx-background-radius: 5
}

#schedule-label:hover{
    -fx-background-color: #7dafd8; 
}

#back-btn{
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
}

#lyt-list{
    -fx-background-color: #CAF4FF;
}

#no-tugas{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 20px; 
    -fx-text-fiil: black;
}