#box-detail{
    -fx-background-color: #90caf9;
}

#label-detail{
    -fx-font-size: 20px; 
    -fx-text-fill: black; 
    -fx-font-weight: bold;
    -fx-background-color: #90caf9;
}

#label-schedule{
    -fx-font-size: 15px; 
    -fx-text-fill: black;
    -fx-background-color: #88c9fd;
}

#bck-bttn{
    -fx-background-color: white; 
    -fx-background-radius: 20
}