#edit-form{
    -fx-background-color: #90caf9;
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-font-weight: bold;
}

#label-edit{
    -fx-font-size: 20px; 
    -fx-text-fill: black; 
    -fx-font-weight: bold;
    -fx-background-color: #90caf9;
}

#btnback{
    -fx-background-color: white; 
    -fx-background-radius: 20
}


#btn-rendah{
    -fx-font-size: 12px; 
    -fx-background-color: #a5d6a7; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click-rendah{
    -fx-font-size: 12px; 
    -fx-background-color: #66bb64; 
    -fx-text-fill: white; 
    -fx-background-radius: 5;
}

#click-sedang{
    -fx-font-size: 12px; 
    -fx-background-color: #ffe082; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click-tinggi{
    -fx-font-size: 12px; 
    -fx-background-color: #ffab91; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#btn-sedang{
    -fx-font-size: 12px; 
    -fx-background-color: #ffe082; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click2-rendah{
    -fx-font-size: 12px; 
    -fx-background-color: #a5d6a7; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click2-sedang{
    -fx-font-size: 12px; 
    -fx-background-color: #ffca28; 
    -fx-text-fill: white; 
    -fx-background-radius: 5;
}

#click2-tinggi{
    -fx-font-size: 12px; 
    -fx-background-color: #ffab91; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#btn-tinggi{
    -fx-font-size: 12px; 
    -fx-background-color: #ffab91; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click3-rendah{
    -fx-font-size: 12px; 
    -fx-background-color: #a5d6a7; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click3-sedang{
    -fx-font-size: 12px; 
    -fx-background-color: #ffe082; 
    -fx-text-fill: black; 
    -fx-background-radius: 5;
}

#click3-tinggi{
    -fx-font-size: 12px; 
    -fx-background-color: #ff7043; 
    -fx-text-fill: white; 
    -fx-background-radius: 5;
}
