#box-detail{
    -fx-background-color: #90caf9;
}

#label-detail{
    -fx-font-size: 24px; 
    -fx-text-fill: black; 
    -fx-font-weight: bold;
    -fx-background-color: #90caf9;
    -fx-font-family: 'Arial';
}

#label-schedule{
    -fx-font-size: 15px; 
    -fx-text-fill: black;
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-family: 'Arial';
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

#bck-bttn{
    -fx-background-color: white; 
    -fx-background-radius: 20
}

#bck-bttn:hover{
    -fx-background-color: #ebebeb; 
    -fx-background-radius: 20
}
#sve-bttn {
    -fx-background-color: white;
    -fx-background-radius: 20

    
    
}