
/*stylesCompleted.css*/

#completed-Label{
    -fx-text-fill: black; 
    -fx-font-size: 20px; 
    -fx-font-weight: bold;
}

#scrol-styl{
    -fx-background: #7296a4;
}

#back-btn{
    -fx-background: #ffffff;
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
}

#back-btn:hover{
    -fx-background: #c2c0c0;
}

#completed-lyt{
    -fx-background-color: #CAF4FF;
}


#scroll-pane{
    -fx-background: #CAF4FF;
}

#schedule-label{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fiil: black; 
    -fx-background-color: #90CAF9; 
    -fx-background-radius: 5
}

#schedule-label:hover{
    -fx-background-color: #7dafd8; 
    -fx-background-radius: 5
}

#tidak-ada-tugas{
    -fx-font-family: 'Berlin Sans FB'; 
    -fx-font-size: 20px; 
    -fx-text-fiil: black; 
}