#popup-describe {
    -fx-background-color: #97ccf1 ;
    -fx-font-size: 25px;
}

#description-area {
    -fx-font-family: 'Cascadia Code';
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

#save-button, #back-button {
    -fx-font-size: 15px;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}


#popup-lyt{
    -fx-background-color: #b7dffd ;
    -fx-font-size: 25px
}